@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for lightgallery */
.custom-wrapper-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.custom-wrapper-gallery a {
    padding: 10px;
    margin-bottom: 30px;
}

@media screen and (max-width: 600px) {
    .custom-wrapper-gallery {
        grid-template-columns: 1fr; /* Single column for smaller screens */
    }

    .custom-wrapper-gallery a {
        padding: 5px;
        margin-bottom: 10px;
    }
  }

/* Regular */
@font-face {
    font-family: be-vietnam;
    src: url(../public/fonts/be-vietnam/BeVietnam-Regular.ttf) format('truetype');
}

/* Bold */
@font-face {
    font-family: be-vietnam-bold;
    src: url(../public/fonts/be-vietnam/BeVietnam-Bold.ttf) format('truetype');
    
}

/* Semi-Bold */
@font-face {
    font-family: be-vietnam-semibold;
    font-weight: 400;
    src: url(../public/fonts/be-vietnam/BeVietnam-SemiBold.ttf) format('truetype');
}

/* Extra-Bold */
@font-face {
    font-family: be-vietnam-xbold;
    font-weight: 700;   
    src: url(../public/fonts/be-vietnam/BeVietnam-ExtraBold.ttf) format('truetype');
}

/* Light */
@font-face {
    font-family: be-vietnam-light;
    src: url(../public/fonts/be-vietnam/BeVietnam-Light.ttf) format('truetype');
}

p{
    font-family: "be-vietnam";
}
